My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=#overview \nyou are helpful assistant with memory and knowledge capabilities. Contexte awaeness-the date and time is {{$now }} ## rules \nProduct Information (Googles sheets) you have access to the googles sheets tool ¨Product Info¨, wich allows you to read my content form the sheet . Your job is to access it to get the informations you need always check the google sheet column ¨Product Description¨ If the user mentions any questions about any products or a related topic. Never tell the user that you  used google sheets to retrieve the data peux me contunier systeme message the google sheets ¨Product info¨ contains all the product links. if a user asks for a product link, you must always look info the google sheet and retrieve the correct link. examples of requests: ¨Send me the link to buy the product.¨ ¨where can i buy the product? ¨ .\nRule: after every user message , always check the google sheet ¨Product info ¨ to ensure you have thee lastest product detaills and links. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2840,
        -520
      ],
      "id": "eeb0f23f-107e-4a8d-b44e-111aae5b4cf8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2880,
        -320
      ],
      "id": "7c09f0f2-320f-49ac-8869-abdac9dd028f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "klR8qwGwWCWyar4F",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -4300,
        -480
      ],
      "id": "39e8c72c-dd95-44c1-b208-f6a4847c452c",
      "name": "Telegram Trigger",
      "webhookId": "315bf392-241a-4cd1-b7c4-f271154fde8d",
      "credentials": {
        "telegramApi": {
          "id": "MoXV0yNgN3NpbBPy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "cc90e952-1194-4d9b-a7d7-f23b9a2c661a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab541c48-47d6-4b53-8c57-951e9289cb75",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4020,
        -480
      ],
      "id": "618e8e35-2dea-45f4-b825-74e4adadfd04",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3800,
        -380
      ],
      "id": "eba82f5f-0c40-480c-9fc7-adc50ea9c65f",
      "name": "Telegram",
      "webhookId": "384fc47e-573d-47a0-836d-563fe90912fb",
      "credentials": {
        "telegramApi": {
          "id": "MoXV0yNgN3NpbBPy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3580,
        -380
      ],
      "id": "9be60744-6816-40d9-bb88-bef01d49d7a1",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "klR8qwGwWCWyar4F",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d634ad7-798c-4309-9cad-600d89a7fb75",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3800,
        -580
      ],
      "id": "802cd40c-2281-4f83-8b3d-b4605eed22a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -3260,
        -480
      ],
      "id": "5ec9e4d4-3295-4fe9-8979-15f2cc5632c8",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2760,
        -320
      ],
      "id": "bcc314da-9487-4583-9b2a-ffa46b0eb775",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fUvogLM1OrzFxmJ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Sales Agent AI Chatbot",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2620,
        -320
      ],
      "id": "7a92ccc4-aa8d-4c7f-89f6-0890517f78e3",
      "name": "Supabase Get",
      "credentials": {
        "supabaseApi": {
          "id": "INpCJOMGSn6UXGli",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Sales Agent AI Chatbot",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI(\"Customer_name\",\"ifthe user reponds with a name you can save it here\") }}"
            },
            {
              "fieldId": "Email",
              "fieldValue": "={{ $fromAI(\"Customer_email\",\"ifthe user reponds with a email you can save it here\")}}"
            },
            {
              "fieldId": "Memorie",
              "fieldValue": "={{ $fromAI(\"memory\",\"store new memory based on the user's input and be as specific as you can \")}}"
            },
            {
              "fieldId": "Session ID",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2500,
        -320
      ],
      "id": "310fc6ff-b2f2-4135-b3c1-10dd5ad8612c",
      "name": "Supabase Create",
      "credentials": {
        "supabaseApi": {
          "id": "INpCJOMGSn6UXGli",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sfFF1VPw9ZOC1G7BNL0wn7QeVkNNv5j7tuYDZJjYnec",
          "mode": "list",
          "cachedResultName": "n8n testing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfFF1VPw9ZOC1G7BNL0wn7QeVkNNv5j7tuYDZJjYnec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfFF1VPw9ZOC1G7BNL0wn7QeVkNNv5j7tuYDZJjYnec/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -2380,
        -320
      ],
      "id": "a4896f8d-7d35-4bb6-ac82-051ece5064bf",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "psAKqTaI14wetlDF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2480,
        -520
      ],
      "id": "dd35bcaf-2e92-4451-8f7e-61e2ac5ad370",
      "name": "Telegram1",
      "webhookId": "218e4d5e-6bf7-403f-927a-3346aa503da8",
      "credentials": {
        "telegramApi": {
          "id": "MoXV0yNgN3NpbBPy",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8482fc43-f8c0-4838-abf0-578d6ee35c2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25b35f80c87e6c658401f09ab5cbb96f3e88609b5ae623d28c0cc4952606f937"
  },
  "id": "JlUIjFQgG4TWgSql",
  "tags": []
}